@model Cinema.Web.Models.ViewModels.FunctionViewModel;

@{
    ViewData["Title"] = "Edit";
    var movies = Model.Movies.Select(x => new SelectListItem { Value = x.MovieId.ToString(), Text = x.Title });
}

<h1>Edit</h1>

<h4>Function</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Function.FunctionId" />
            <div class="form-group">
                <label asp-for="Function.MovieId" class="control-label"></label>
                <select asp-for="Function.MovieId" asp-items="movies" class="form-select"></select>
                <span asp-validation-for="Function.MovieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Function.Price" class="control-label"></label>
                <input asp-for="Function.Price" class="form-control" />
                <span asp-validation-for="Function.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Function.FunctionDate" class="control-label"></label>
                <input asp-for="Function.FunctionDate" class="form-control" />
                <span asp-validation-for="Function.FunctionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Function.AvailableSeats" class="control-label"></label>
                <input asp-for="Function.AvailableSeats" class="form-control"/>
                <span asp-validation-for="Function.AvailableSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
